body {
  overflow-x: initial;
  background: black;
  @media (max-width: 900px) {
    overflow-x: hidden;
  }
}
html {
  overflow-x: hidden;
  background: black;
  letter-spacing: 0.24px;
}
p {
  line-height: 125%;
}
// a {
//   color: white !important;
// }
.slick-arrow.slick-next {
  display: none !important;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0%,
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.pulse {
  animation-timing-function: linear;
  animation-duration: 3s;
}

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.Image {
  display: block;
  width: 100%;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

a {
  box-shadow: none !important;
  cursor: pointer !important;
}

.ui.stackable.grid > .column.noPadding {
  padding: 0 !important;
}

@media only screen and (min-width: 1023px) {
  .ui.stackable.grid > .column.noPadding img {
    margin: 0 !important;
  }
}
@media only screen and (min-width: 1024px) {
  .ui.stackable.grid > .column.noPadding:nth-child(3) {
    padding: 0.7rem 0 0 0 !important;
  }
  .ui.stackable.grid > .column.noPadding:nth-child(2) {
    padding: 0.7rem 0 0 0 !important;
  }
  .ui.stackable.grid > .column.noPadding:nth-child(1) {
    padding: 0.7rem 0 0 0 !important;
  }
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

section {
  padding: 0 !important;
  margin: 0 !important;
}

.instaImgDiv {
  height: calc(100vw / 7);
  width: calc(100vw / 7);
  position: relative;
  background-position: center;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    z-index: 299;
    width: 100%;
    height: 100%;
  }
  &::before {
    opacity: 0;
    transition: 1s ease cubic-bezier(0.17, 0.37, 0.75, 1);
    position: absolute;
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../content/assets/play.png");
    background-position: center;
    background-size: 20%;
  }
  &:hover {
    &::before {
      opacity: 0.9;
    }
    &::after {
      opacity: 0;
    }
  }
}

.videoList .miniVideoConatainer {
  overflow: hidden;
  text-align: center;
  max-height: 40vh;
  height: 280px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  filter: grayscale(30%);
}
.videoList .miniVideoConatainer:hover {
  opacity: 1;
  transition: 0.8s cubic-bezier(0.17, 0.37, 0.75, 1);
  filter: grayscale(0);
}
.videoList .miniVideoConatainer:hover .miniVideo {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.videoList .miniVideoConatainer .miniVideo {
  top: 0;
  left: 0;
  transition: 0.8s cubic-bezier(0.17, 0.37, 0.75, 1);
  opacity: 0.9;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  max-height: 60vh;
}
.videoList .miniVideoConatainer div {
  opacity: 0;
  transition: 0.6s cubic-bezier(0.17, 0.37, 0.75, 1);
  background-position: center;
  background-size: 60px 60px;
  background-image: url("../../content/assets/play.png");
  background-repeat: no-repeat;
  position: absolute;
  color: white;
  font-size: 1em;
  word-wrap: wrap;
  margin: auto;
  top: 0;
  line-height: 400px;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
}

.videoList .miniVideoConatainer:hover div.alt {
  opacity: 1;
  transition: 0.8s cubic-bezier(0.17, 0.37, 0.75, 1);
}
.videoList span {
  opacity: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.clients .clientsContainer .images img {
  height: 60px;
  margin: 20px 20px;
}

.contact {
  display: flex;
  justify-content: center;

  color: white;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  color: white;
}
.footer div img {
  opacity: 0.9;
  width: 30px;
  margin: 2em 1em;
  transition: hover 0.2s cubic-bezier(0.17, 0.37, 0.75, 1);
}
.footer div img:hover {
  opacity: 1;
  transform: scale(1.15);
}

.modal {
  // display: none;
  position: fixed;
  z-index: 91;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.modal .close {
  z-index: 999;
  color: #aaa;
  position: fixed;
  right: 30px;
  top: 100px;
  font-size: 60px;
  font-weight: bold;
}
@media only screen and (max-width: 769px) {
  .modal .close {
    top: 30px;
  }
}

.modal .close:hover,
.modal .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.vimeoMovieContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .vimeoMovie {
    width: 80vw;
    height: 46.511627907vw;
  }
}

@media only screen and (max-width: 901px) {
  .videoList .miniVideoConatainer span p {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 20px;
    word-wrap: wrap;
    width: 100%;
    word-wrap: normal;
  }

  .videoList .miniVideoConatainer img {
    height: 240px;
  }

  .videoList .miniVideoConatainer {
    height: 240px;
  }
}

.carouselContainer {
  .slider-control-bottomcenter {
    display: none;
  }
}

@media only screen and (max-width: 901px) {
  .videoList .miniVideoConatainer span {
    opacity: 0.8;
    font-size: 1em;
    margin: 1em;
    font-weight: 400;
    background-size: 40px;
  }
  .carouselContainer {
    width: 99vw;
  }
  .carouselContainer .arrow {
    width: 24px;
  }
  // .carouselContainer a {
  //   height: 250px;
  // }
  .carouselContainer a img {
    width: 230px;
  }
  .instaImgDiv {
    position: relative;
    height: 120px;
  }
  .instaImgDiv::before {
    opacity: 0.5;
    background-size: 30%;
  }
}

.instabig {
  width: 200px;
  width: 160;
  display: flex;
  justify-self: center;
  margin: 3em auto 2em auto;
}
